# Maven build output
target/
test-output/

# IDE specific files (Eclipse)
.settings/
.project
.classpath
.factorypath
.metadata/

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Keep Maven Wrapper (optional but recommended if using mvnw)
!.mvn/wrapper/maven-wrapper.jar
